<div>
  <h3>Welcome</h3>
{{#if logged_in}}
<a href="/newpost">New Post</a>
{{else}}
<a href="/login">Login</a>
{{/if}}
</div>

{{#each post as |post|}}
<a href="/api/posts/{{post.id}}">
  {{> post-details}}
</a>  
{{/each}}
