<form class="newpost-form">
    <label for="title-input">Add Title</label>
    <input type="text" id="title-input">
    <br>
    <label for="description-input">Add a Description</label>
    <input type="text" id="description-input">
    <br>
    <label for="body-input">Body</label>
    <input type="text" id="body-input">
    <button type="submit">Submit Blog</button>
</form>

<script src="./js/newPost.js"></script>