<form class="mb-3">
    <label for="title-input" class="form-label">Add Title</label>
    <input type="text" class="form-control" id="title-input">
    <br>
    <label for="description-input" class="form-control">Add a Description</label>
    <input type="text" id="description-input">
    <br>
    <label for="body-input" class="form-label">Body</label>
    <textarea id="body-input" class="form-label" name="comment" rows="4" cols="50"></textarea>
    <button type="submit">Submit Blog</button>
</form>

<script src="./js/newPost.js"></script>
