<div class="container">
<div>
    <h3 id="post-title">{{title}}</h3>
    <h4>{{description}}</h4>
    <p id="post-body">{{body}}</p>
    <p id="post-author">{{user_id.name}}</p>
</div>
<form id="comment-form" class="mb-3">
    <label for="comment" class="form-label" >Comment</label>
    <textarea id="comment" class="form-control" name="comment" rows="4" cols="50"></textarea>
    <button type="button">Submit</button>
</form>
</div>
